<div class="container marketing" style="margin-top: 30px;">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/Content/img/icon-1.png">
            <h2>Đặt hàng</h2>
            <p>Chọn sản phẩm bạn yêu thích, và Đặt hàng.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/Content/img/icon-2.png">
            <h2>Tạo đơn hàng</h2>
            <p>Theo dõi đơn hàng của bạn.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/Content/img/icon-3.png">
            <h2>Giao hàng</h2>
            <p>Giao hàng tận nơi.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="margin-top: 145px;">
                Đặt hàng, Tạo đơn hàng, Giao hàng <span class="text-muted">Nhanh chóng</span>
            </h2>
            <p class="lead">Nơi mua sắm tuyệt vời cho mọi lứa tuổi.</p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/marketing-1.png">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading" style="margin-top: 145px;">
                Báo cáo Doanh thu tuyệt vời <span class="text-muted">
                    Theo dõi đơn hàng của
                    bạn.
                </span>
            </h2>
            <p class="lead">Hệ thống theo dõi đơn hàng chi tiết, thông tin mọi lúc mọi nơi.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/Content/img/marketing-2.png">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>