<footer class="footer mt-auto py-3">
    <div class="container">
        <span>Bản quyền © bởi <a href="https://nentang.vn">Nền Tảng</a> - 2019.</span>
        <span class="text-muted">Hành trang tới Tương lai</span>

        <p class="float-right">
            <a class="btn btn-outline-danger" href="/File/Download?fileName=BangBaoGia_Thang11_2019.txt">
                Tải bản Báo giá tháng 11/2019 (file TXT)
            </a> |
            <a href="/File/Download?fileName=Báo giá Tháng 11 2019.docx">
                Tải bản Báo giá tháng 11/2019 (file Word)
            </a> |
            <a href="#">Về đầu trang</a>
        </p>
    </div>
</footer>
