
@using WebBanHang.EF;
@{
    ViewBag.Title = "ProductDetail";
    products sanpham = ViewBag.SanPham;
}

<link href="~/Content/ProductDetailStyle.css" type="text/css" rel="stylesheet"/>

<div class="card">
    <div class="container-fluid">
        <form name="frmsanphamchitiet" id="frmsanphamchitiet" method="post" action="/php/twig/frontend/giohang/themvaogiohang">
            <input type="hidden" name="sp_ma" id="sp_ma" value="1">
            <input type="hidden" name="sp_ten" id="sp_ten" value="Samsung Galaxy S3">
            <input type="hidden" name="sp_gia" id="sp_gia" value="12000000.00">
            <input type="hidden" name="hinhdaidien" id="hinhdaidien" value="samsung-s3.webp">

            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            @if (String.IsNullOrEmpty(sanpham.image))
                            {
                                <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="~/Content/img/no-photo.png">
                            }
                            else
                            {
                                <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="~/UploadedFiles/ProductImages/@sanpham.image">
                            }
                        </div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active">
                            <a data-target="#pic-1" data-toggle="tab">
                                @if (String.IsNullOrEmpty(sanpham.image))
                                {
                                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="~/Content/img/no-photo.png">
                                }
                                else
                                {
                                    <img class="bd-placeholder-img card-img-top" width="100%" height="350" src="~/UploadedFiles/ProductImages/@sanpham.image">
                                }
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title"><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> @sanpham.product_name</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">999 reviews</span>
                    </div>
                    <p class="product-description">@sanpham.description</p>
                    <small class="text-muted">Giá cũ: <s><span>@sanpham.list_price vnđ</span></s></small>
                    <h4 class="price">Giá hiện tại: <span>@sanpham.standard_cost vnđ</span></h4>
                    <p class="vote">
                        <strong>100%</strong> hàng <strong>Chất lượng</strong>, đảm bảo <strong>
                            Uy
                            tín
                        </strong>!
                    </p>
                    <h5 class="sizes">
                        sizes:
                        <span class="size" data-toggle="tooltip" title="cỡ Nhỏ">s</span>
                        <span class="size" data-toggle="tooltip" title="cỡ Trung bình">m</span>
                        <span class="size" data-toggle="tooltip" title="cỡ Lớn">l</span>
                        <span class="size" data-toggle="tooltip" title="cỡ Đại">xl</span>
                    </h5>
                    <h5 class="colors">
                        colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Hết hàng"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5>
                    <div class="form-group">
                        <label for="soluong">Số lượng đặt mua:</label>
                        <input type="number" class="form-control" id="soluong" name="soluong">
                    </div>
                    <div class="action">
                        <a class="add-to-cart btn btn-default" id="btnThemVaoGioHang">Thêm vào giỏ hàng</a>
                        <a class="like btn btn-default" href="#"><span class="fa fa-heart"></span></a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

